/* Essas duas propriedades, de box-sizing e margin, geralmente
já são colocadas no início de qualquer css
*{
    box-sizing:border-box;
}
*/
body {

    margin:0px;
}

/*Caracteristicas de width e height (largura e altura), permite acrescentar 
algumas formas de medida, como quantidade de pixel, porcentagem, ou preenchimento automatico. 
a primeira é literal, as outras são em relação ao espaço disponível em tela.*/

.exemplo{
    background-color:#000000;
    width:100%;
    height:100px;
}

.teste1{
    background-color:#0000ff;
    width:auto;
    height:100px;
}

img {
    /*se usar largura automática para imagem, esta ficará em seu tamanho natural.
    Ou seja, sempre é melhor definir a quantidade de pixels*/
    width: auto;
    min-width:600px;
    /*Mesmo que definindo o width como automático, ao se definir o limitador de 
    largura mínima, está obedecerá, e ficará com 600px, nesse caso de exemplo, 
    mesmo que naturalmente seja menor*/
}

.tagPai{

    width:700px;
    height:500px;
    border: 2px solid #ff0000;
    background-color: #ff0000;
}
     /*Ao definir uma largura na tag que contêm a imagem filha, e definir 
     a largura da imagem filha como inherit, está irá herdar  a largura definida na tag Pai.*/
.imagemFilha{

    width:inherit;
    max-width: 500px;
    /*Mesmo erdando uma largura maior, ao se definir a largura máxima, essa ordem será
    obedecida, e imagem ficará com no máximo 500px, nesse caso de exemplo*/
}

.teste3 {
        /*Ao definir altura e largura de um objeto, o que se está definindo na verdade<br/>
        é a altura e lagura do conteúdo, no entanto, ao inspecionar o objeto que tem <br/>
        padding, border e margin, o que é levado em consideração para o tamanho total <br/>
        é a soma do conteúdo, padding e border. Esse quadradro verde por exemplo tem <br/>
        height e width de 400px, mas seu tamanho real é 430px, pois o padding é de 10px<br/>
        em cada lado e o border de 5px em cada lado.*/

    width:400px;
    height:400px;
    background-color: #00ff00;
    border: 5px solid #000;
    padding: 10px;
    margin:20px;

}
        /*Porém, para tratar a dituação de cima existem duas características de CSS que<br/>
        podem ser utilizadas, e a s duas são aplicadas ao box-sizing:
        <br/><br/>
        CONTENT-BOX: Aqui o tamanho da box é definida pelo seu conteúdo, como é o que vem por
        padrão no sistema.
        <br/><br/>
        BORDER-BOX: Aqui o tamanho inclue o padding e o border, e os pixel de tamanho são
        removidos do conteúdo e aplicados à ele.<br/>*/

.teste4 {
    box-sizing:border-box;
    width:400px;
    height:400px;
    background-color: #ff0000;
    border: 5px solid #000;
    padding: 10px;
    margin:20px;

}